
@font-face {
    font-family: 'Rubik900',sans-serif;
    src: url(/assets/fonts/static/Rubik-Black.ttf);
}

@font-face {
    font-family: 'Rubik700', sans-serif;
    src: url(/assets/fonts/static/./Rubik-Bold.ttf);
}

@font-face {
    font-family: 'Rubik800', sans-serif;
    src: url(/assets/fonts/static/./Rubik-ExtraBold.ttf);
}

@font-face {
    font-family: 'Rubik300', sans-serif;
    src: url(/assets/fonts/static/./Rubik-Light.ttf);
}

@font-face {
    font-family: 'Rubik500', sans-serif;
    src: url(/assets/fonts/static/./Rubik-Medium.ttf);
}

@font-face {
    font-family: 'Rubik400', sans-serif;
    src: url(/assets/fonts/static/./Rubik-Regular.ttf);
}

@font-face {
    font-family: 'Rubik600', sans-serif;
    src: url(/assets/fonts/static/./Rubik-SemiBold.ttf);
}

