.footer {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
background: var(--Main-BGPage, #FBF8EC);
    background-image: url(/assets/img/footer/bg.png);
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
        color: #414141;
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
    }
}

.footer__end .phone {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 780px){ 
    .footer {
    flex-direction: row;
}
}

@media (max-width: 1070px){ .footer {
    flex-direction: column;
}}

@media (max-width: 780px){ .footer__list {
    flex-direction: column;
    gap: 20px;
}}